@media screen and (max-width: 768px) and (min-width: 481px) {			
	* {
		margin: 0;
		padding: 0;
		font-family: 'Maven Pro', sans-serif;
	}
	
	.material-icons.md-18 { 
		font-size: 18px; 
	}
	
	.material-icons.md-24 { 
		font-size: 24px; 
	}
	
	a {
		color: black;
		text-decoration: none;
	}
	
	#header {
		background: #A00;
		color: white;
	}
	
	#header a {
		color: white;
	}
	
	#header a:hover {
		color: lightgrey;	/* Alternativa?? #308E89*/
	}
	
	#contacts {
		width: 21em;
		margin: auto;
		padding-bottom: 2em;
	}
	
	#contacts p {
		display: inline-block;
		margin-left: 2em;
		font-size: 0.8em;
	}
	
	#contacts p i {
		vertical-align: middle;
	}
	
	#logo {
		display: block;
		width: 20em;
		margin: auto;
	}
	
	#navbar {
		width: 95%;
		margin: auto;
		clear: both;
	}
	
	#navbar_admin {
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 5%;
		padding-right: 5%;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		background: #A00;
		letter-spacing: 0.2em;
	}
	
	#navbar_admin p {
		padding-right: 2em;	/*Soluzione responsive per centrare*/
		font-weight: bold;
	}
	
	#navbar_admin a {
		padding-left: 2em;
	}
	
	#admin_back_icon {
		float: left;
	}
	
	#admin_back {
		display: none;
	}
	
	#admin_back:hover {
		background-image: url("../res/images/corona_grigia.png");
		background-repeat: no-repeat;
	}
		
	#menu {
		width: 27em;
		margin: auto;
		text-transform: uppercase;
		padding-top: 2em;
		padding-bottom: 1em;
		letter-spacing: 0.2em;
	}
	
	#menu li {	/*NEW -------------------------------------*/
		display: inline-block;
		margin-left: 2%;
		margin-bottom: 2%;
		list-style: none;
	}
	
	#current {
		font-weight: bold;
		text-decoration: none;
		padding-bottom: 0.3em;	
		border-bottom-width: 2px;
		border-bottom-color: white;
		border-bottom-style: solid;
	}
	
	#breadcrumb_home {
		visibility: hidden;
		clear: both;
	}
	
	#breadcrumb {	
		clear: both;
		padding-left: 12%;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		background: darkred;
	}
	
	#breadcrumb i {
		vertical-align: middle;
	}
	
	#pane_1 {
		position: relative;
		height: 30em;
		background-image: url("../res/images/running_wall.jpg");
	}
	
	#pane_2 {
		position: relative;
		height: 30em;
		background-image: url("../res/images/nuoto_wall.jpg");
	}
	
	#pane_3 {
		position: relative;
		height: 30em;
		background-image: url("../res/images/volley_wall.jpg");
	}
	
	.pane_content {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
	}
	
	.pane_content img {
		width: 20em;
	}
	
	.pane_content h3 {
		padding: 2em;
		color: white;
		background-color: rgba(0, 0, 0, 0.3);
	}
	
	#backTop {
		text-align: center;
		display: block;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
		text-decoration: none;
		color: black;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	#backTop:hover {
		color: #A00;
	}
	
	#backTop i {
		vertical-align: middle;
	}
	
	#content {
		width: 90%;
		margin: auto;
		padding: 2em;
	}
	
	#content p {
		padding-top: 1em;
		text-align: center;
	}
	
	#content_error {
		width: 90%;
		margin: auto;
		text-align: center;
	}
	
	#content_error > img {
		margin: 2em;
		width: 20%;
	}
	
	#content_error h3 {
		padding-bottom: 2em;
	}
	
	#content_error p {
		text-transform: uppercase;
		padding: 1em;
	}
	
	#previous_page {
		display: inline-block;
		padding: 1em;	
		border-radius: 0.5em;
		color: white;
		background: #A00;
		font-weight: bold;
		text-decoration: none;
		text-shadow: 0px 1px 1px black, 0px 0px 1px black;
		text-transform: uppercase;
	}
	
	#previous_page:hover {
		background: rgba(200, 0, 0, 0.8);
		color: white;		
		transition: all 0.5s ;
		-webkit-transition: all 0.5s ;
		-o-transition: all 0.5s ;
		-moz-transition: all 0.5s ;
	}
	
	#content_products {
		width: 27em;
		margin: auto;
		padding-top: 2em;
		padding-bottom: 1em;
	}
	
	.pane_content img {		/*---- NEW ---- FIX IMG CHE SFORANO ------------*/
		max-width: 100%;
	}
	
	#categories {
		list-style-type: none;
	}
	
	#categories li {
		display: inline-block;
		margin-left: 2%;
		margin-bottom: 3%;
	}
	
	#categories .linked_box {
		display: inline-block;
		width: 8em;
		padding-top: 2em;
		padding-bottom: 2em;
		border-radius: 0.5em;
		color: white;
		text-shadow: 0px 3px 3px black, 0px 0px 3px black, 2px 0px 3px black, -2px 0px 3px black;
	}
	
	#categories .linked_box:hover {
		transition: all 0.5s ;
		-webkit-transition: all 0.5s ;
		-o-transition: all 0.5s ;
		-moz-transition: all 0.5s ;
	}
	
	#cat_calcio {
		background-image: url("../res/images/thumbnails/calcio3_thumbnail.png");		
		background-size: 110%;
		background-repeat: no-repeat;
	}
	
	#cat_calcio:hover {
		background-image: url("../res/images/thumbnails/calcio3_thumbnail_trasparente.png");	
	}
	
	#cat_basket {
		background-image: url("../res/images/thumbnails/basket_thumbnail.png");		
		background-size: 100%;
		background-repeat: no-repeat;
	}
	
	#cat_basket:hover {
		background-image: url("../res/images/thumbnails/basket_thumbnail_trasparente.png");
	}
	
	#cat_volley {
		background-image: url("../res/images/thumbnails/volley_thumbnail.png");		
		background-size: 100%;
		background-repeat: no-repeat;
	}
	
	#cat_volley:hover {
		background-image: url("../res/images/thumbnails/volley_thumbnail_trasparente.png");	
	}
	
	#cat_tennistavolo {
		background-image: url("../res/images/thumbnails/pingpong_thumbnail.png");		
		background-size: 110%;
		background-repeat: no-repeat;
	}
	
	#cat_tennistavolo:hover {
		background-image: url("../res/images/thumbnails/pingpong_thumbnail_trasparente.png");
	}
	
	#cat_nuoto {
		background-image: url("../res/images/thumbnails/nuoto_thumbnail.png");		
		background-size: 150%;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#cat_nuoto:hover {
		background-image: url("../res/images/thumbnails/nuoto_thumbnail_trasparente.png");
	}
	
	#cat_minigolf {
		background-image: url("../res/images/thumbnails/minigolf_thumbnail.png");		
		background-size: 150%;
		background-repeat: no-repeat;
		background-position: left;
	}
	
	#cat_minigolf:hover {
		background-image: url("../res/images/thumbnails/minigolf_thumbnail_trasparente.png");	
	}
	
	#cat_calciobalilla {
		background-image: url("../res/images/thumbnails/calciobalilla_thumbnail.png");		
		background-size: 120%;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#cat_calciobalilla:hover {
		background-image: url("../res/images/thumbnails/calciobalilla_thumbnail_trasparente.png");	
	}
	
	#cat_protezioni {
		background-image: url("../res/images/thumbnails/protezioni_thumbnail.png");		
		background-size: 130%;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#cat_protezioni:hover {
		background-image: url("../res/images/thumbnails/protezioni_thumbnail_trasparente.png");	
	}
	
	#cat_accessori {
		background-image: url("../res/images/thumbnails/accessori_thumbnail.png");		
		background-size: 135%;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#cat_accessori:hover {
		background-image: url("../res/images/thumbnails/accessori_thumbnail_trasparente.png");	
	}
	
	.cat_label {
		display: inline-block;
		background-color: rgba(0, 0, 0, 0.55);
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.1em;
	}
	
	#content_contacts {
		width: 80%;
		margin: auto;
		padding: 2em;
	}
	
	#content_contacts p {
		padding: 1em;
		text-align: center;
	}
	
	#contact_list {
		width: 20em;
		margin: auto;
		padding: 0.5em;
		list-style-type: none;
	}
	
	#contact_list li {
		padding: 0.5em;
	}
	
	#contact_list li i {
		float: left;
		vertical-align: middle;
	}
	
	#contact_list .contact {
		display: inline-block;
		float: right;
		width: 12em;
		font-weight: bold;
		text-align: right;
	}
	
	#form_email {
		padding-top: 1em;
		margin: auto;
		width: 26em;
	}
	
	#form_email p {
		padding-bottom: 0.5em;
	}

	.form_email_element {
		padding: 1em;	
	}
	
	#form_email_name {	
		width: 15em;
		height: 1.5em;
		font-size: 1em;
		padding-left: 0.5em;
		padding-right: 0.5em;
		float: right;
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;	
		border-radius: 3px;	
	}
	
	#form_email_mail {	
		width: 15em;
		height: 1.5em;
		font-size: 1em;
		padding-left: 0.5em;
		padding-right: 0.5em;
		float: right;
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;
	}
	
	#form_email_mex {
		width: 15em;
		height: 8em;
		font-size: 1em;
		padding-left: 0.5em;
		padding-right: 0.5em;
		float: right;
		resize: none;
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;
	}
	
	#form_email_submit {
		float: right;
		margin-top: 2em;
		margin-bottom: 2em;
		margin-right: 9em;
		font-size: 1em;
		background: #A00;
		border: none;
		padding: 10px 25px 10px 25px;
		box-shadow: 1px 1px 5px #B6B6B6;
		border-radius: 3px;
		text-shadow: 1px 1px 1px #9E3F3F;
		cursor: pointer;
		 color: #FFF;
	}
	
	#form_email_submit:hover{
		background: darkred;
	}
	
	.mail_form_error {
		color: red;
		display: none;
	}
	
	#mail_sent {
		width: 80%;
		margin: auto;
		text-align: center;
		margin-top: 2em;
		margin-bottom: 4em;
		font-weight: bold;
		font-size: 1.2em;
	}
	
	#content_admin {
		width: 90%;
		max-width: 100%;
		margin: auto;
        padding-top: 2em;
        padding-bottom: 2em;
		min-height: 10em;
	}
	
	#content_admin p {
		text-align: center;
	}
	
	/*NEW START*/
	#content_admin #placeholder {
		text-align: center;
	}
	
	#content_admin #placeholder > img {
		width: 15em;
	}
	
	#content_admin #placeholder > p {
		font-size: 1.4em;
		font-weight: bold;
	}
	
	.modalDialog {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: scroll;
		background: rgba(0,0,0,0.8);
		z-index: 100;
		opacity:0;
		-webkit-transition: opacity 200ms ease-in;
		-moz-transition: opacity 200ms ease-in;
		transition: opacity 200ms ease-in;
		pointer-events: none;
	}
	
	.modalDialog:target {
		opacity: 1;
		pointer-events: auto;
	}
	
	.modalDialog > div {
		width: 20em;
		position: relative;
		margin: auto;
		margin-top: 2em;
		margin-bottom: 2em;
		padding: 1.5em;
		border-radius: 0.5em;
		background: #fff;
	}
	
	.close {
		background: #A00;
		color: #FFFFFF;
		line-height: 1.5em;
		position: absolute;
		right: -0.7em;
		text-align: center;
		top: -0.7em;
		width: 1.5em;
		text-decoration: none;
		font-weight: bold;
		-webkit-border-radius: 1em;
		-moz-border-radius: 1em;
		border-radius: 1em;
		-moz-box-shadow: 0.5em 0.5em 1em #000;
		-webkit-box-shadow: 0.5em 0.5em 1em #000;
		box-shadow: 0.5em 0.5em 1em #000;
	}
	
	.close:hover { 
		background: #D00;
	}
	
	.modalDialog p {
		font-size: 1.2em;
		font-weight: bold;
	}
	
	.modalDialog select {
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;	
	}
	
	.modalDialogl label {
		padding-top: 0.5em;
	}
    
    .modalDialog form {
        width: 90%;
        margin: auto;
    }
	
	#product_code {
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;	
	}
	
	#product_name {
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;	
	}
	
	.modalDialog textarea {
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;	
	}
	
	.modalDialog .form_item {
		width: 97%;
		margin-top: 0.5em;
		font-size: 1em;
		padding: 0.2em;
		resize: none;
	}
	
	.submit_modal {
		background: #A00;
		border: none;
		padding: 0.8em 1.2em 0.8em 1.2em;
		box-shadow: 1px 1px 5px #B6B6B6;
		border-radius: 3px;
		font-size: 1em;
		text-shadow: 1px 1px 1px #9E3F3F;
		color: #FFF;
		margin-top: 1em;
		margin-left: 30%;
	}
	
	.submit_modal:hover {
		background: rgba(200, 0, 0, 1);
	}
	/*NEW END*/

	#admin_panel {
		width: 20em;
		margin: auto;
		margin-top: 2em;
		margin-bottom: 12em;
	}
	
	#news {
		float: left;
	}
	
	#products {
		float: right;
	}
	
	#admin_panel .linked_box {
		display: inline-block;
		width: 8em;
		padding-top: 2em;
		padding-bottom: 2em;	
		border-radius: 0.5em;
		color: white;
		background: #A00;
		text-shadow: 0px 1px 1px black, 0px 0px 1px black;
	}
	
	#admin_panel .linked_box:hover {
		background: rgba(200, 0, 0, 0.7);
		color: white;		
		transition: all 0.5s ;
		-webkit-transition: all 0.5s ;
		-o-transition: all 0.5s ;
		-moz-transition: all 0.5s ;
	}
	
	.admin_label {
		display: inline-block;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
	}
	
	#action_bar {
		height: 6em;
	}	
	
	#action_box {
		width: 18em;
		margin: auto;
	}
	
	#action_back {
		float: left;
	}
	
	#action_add {
		float: right;
	}
	
	#action_box .linked_box {
		display: inline-block;
		width: 6em;
		padding-top: 1.5em;
		padding-bottom: 1.5em;	
		border-radius: 0.5em;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		color: white;
		background: #A00;
		text-shadow: 0px 1px 1px black, 0px 0px 1px black;
	}
	
	#action_box .linked_box:hover {
		background: rgba(200, 0, 0, 0.7);
		color: white;		
		transition: all 0.5s ;
		-webkit-transition: all 0.5s ;
		-o-transition: all 0.5s ;
		-moz-transition: all 0.5s ;
	}
	
	#content_about{
		width: 90%;
		margin: auto;
		padding: 2em;
	}
	
	#content_about p {
		padding: 1em;
		text-align: justify;
	}
	
	#content_about #about_important {
		text-align: center;
		padding: 1.5em;
	}
	
	#footer {
		clear: both;
		position: relative;
		bottom: 0;
		text-align: center;
		font-size: 0.8em;
		background-color: #A00;
		color: white;
	}
	
	#footer_top {
		width: 90%;
		margin: auto;
		padding-top: 2em;
		padding-bottom: 2em;
	}
	
	#maps {
		display: inline-block;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	
	#maps ul {
		list-style: none;
	}
	
	#maps a {
		text-decoration: none;
		color: white;
		text-transform: uppercase;
	}
	
	#maps_menu {
		float: left;
		text-align: left;
		letter-spacing: 0.4em;
		padding-right: 1em;
		padding-bottom: 1em;
	}
	
	#maps_menu li {
		margin: 0.4em;
	}
	
	#maps_menu li a:hover {
		color: lightgrey;
	}
	
	#maps_categories {
		float: left;
		text-align: left;
		letter-spacing: 0.4em;
		padding-bottom: 1em;
	}
	
	#maps_categories li {
		margin: 0.4em;
	}
	
	#maps_categories li a:hover {
		color: lightgrey;
	}
	
	#admin_form_panel {
		display: inline-block;
		vertical-align: top;
	}
	
	#admin_form > fieldset {
		padding: 1em;
	}
	
	#admin_form legend {
		padding-left: 1em;
		padding-right: 1em;
	}
	
	#admin_form i {
		vertical-align: middle;
		padding-right: 0.2em;
	}
	
	.form_item {
		display: block;
		text-align: left;
		margin-bottom: 1em;
	}
	
	#administration {
		width: 100%;
		margin: auto;
		text-align: center;
		float: right;
		font-size: 1em;
	}
	
	#administration {		
		padding-bottom: 2em;
	}
	
	#administration a {
		color: black;
		text-decoration: none;
	}
	
	#administration a:hover {
		color: #A00;
	}
	
	#administration i {
		vertical-align: middle;
		padding-right: 0.2em;
	}
	
	#username {
		height: 1.5em;
		font-size: 1em;
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;
		margin-top: 0.2em;
		padding-left: 0.5em;
		padding-right: 0.5em;		
	}
	
	#password {
		height: 1.5em;
		font-size: 1em;
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;
		margin-top: 0.2em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	
	#submit {/*--------------------------------NEW------------------------------------*/
		background: lightgray;
		border: none;
		padding: 5px 20px 5px 20px;
		box-shadow: 1px 1px 3px #3D3D3D;
		border-radius: 3px;
		cursor: pointer;
		color: black;		
	}
	
	#submit:hover{	/* NEW --------------------------------------*/
		background: #9d9d9d;
	}
	
	#copy_panel {
		clear: both;
		background-color: darkred;
		padding: 2em;
	}
	
	#validation {
		padding-top: 2em;
	}
	
	#xhtml_valid {
		padding-right: 4em;
	}
}
