@font-face {
    font-family: sansation_regular;
    src: url('../res/fonts/Sansation_Regular.ttf');
}

@font-face {
	font-family: sansation_bold;
	src: url('../res/fonts/Sansation_Bold.ttf');
}

@-moz-keyframes fadeInDown {	/*NEW -------------------------------------*/
	0% { opacity: 0; -moz-transform: translateY(-2em); }
	100% { opacity: 1; transform: translateY(0); } 
}
	
@-webkit-keyframes fadeInDown {	/*NEW -------------------------------------*/
	0% { opacity: 0; -webkit-transform: translateY(-2em); }
	100% { opacity: 1; transform: translateY(0); }
}
	
@keyframes fadeInDown {	/*NEW -------------------------------------*/
	0% { opacity: 0; transform: translateY(-2em); }
	100% { opacity: 1; transform: translateY(0); }
}

.fadeInDown {
		-moz-animation-name: fadeInDown;
		-webkit-animation-name: fadeInDown; 
    	animation-name: fadeInDown;
		
		-moz-animation-duration: 1.5s;
		-webkit-animation-duration: 1.5s;
		animation-duration: 1.5s;
		
		-moz-animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
}

@media screen and (min-width: 1024px) {			
	* {
		margin: 0;
		padding: 0;
		font-family: 'Maven Pro', sans-serif;
	}
	
	a {	/*Tutti i link della pagina sono neri senza sottolineatura*/
		color: black;
		text-decoration: none;
	}
	
	a:hover { /*Tutti i link hover della pagina sono oragered*/
		color: #A00;
	}
	
	.material-icons.md-18 { 
		font-size: 18px; 
	}
	
	.material-icons.md-24 { 
		font-size: 24px; 
	}
		
	#header {
		background: #A00;
		color: white;
	}
	
	#header a {
		color: white;
	}
	
	#header a:hover {
		color: lightgrey;
	}
	
	#contacts {
		float: right;
		margin-top: 1em;
		margin-right: 4em;
		margin-bottom: 1em;
	}
	
	#contacts p {
		display: inline-block;
		margin-right: 2em;
		font-size: 0.8em;
	}
	
	#contacts p i {
		vertical-align: middle;
	}
	
	#logo {
		float: left;
		max-width: 35%;	/* In schermi più piccoli così viene ridotto */
		padding-top: 1em;
	}
	
	#navbar {
		width: 80%;
		margin: auto;
		clear: both;
	}
	
	#navbar_admin {		/*NEW -------------------------------------*/
		padding-top: 0.7em;
		padding-bottom: 0.7em;
		padding-left: 10%;
		padding-right: 10%;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		background: darkred;
		letter-spacing: 0.2em;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
	}
	
	#navbar_admin span {		/*NEW -------------------------------------*/
		padding-right: 12em;	/*Soluzione responsive per centrare*/
		font-weight: bold;
	}
	
	#navbar_admin a {
		padding-left: 2em;
	}
	
	#admin_back {		/*NEW -------------------------------------*/
		float: left;
		background-image: url("../res/images/corona_bianca.png");
		background-repeat: no-repeat;
		background-position: 0 -0.1em;
	}
	
	#admin_back:hover {		/*NEW -------------------------------------*/
		background-image: url("../res/images/corona_grigia.png");
		background-repeat: no-repeat;
	}
		
	#menu {
		text-transform: uppercase;
		padding: 2em;
		letter-spacing: 0.2em;
	}
	
	#menu a {
		margin-left: 4em;
		padding-bottom: 0.3em;
	}
	
	#current {
		margin-left: 4em;
		font-weight: bold;
		text-decoration: none;
		padding-bottom: 0.3em;	
		border-bottom-width: 2px;
		border-bottom-color: white;
		border-bottom-style: solid;
	}
	
	#breadcrumb_home {
		visibility: hidden;
		clear: both;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
	}
	
	#breadcrumb {	
		clear: both;
		padding-left: 12%;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		background: darkred;
	}
	
	#breadcrumb span {
		font-size: 0.8em;
	}
	
	#breadcrumb i {
		vertical-align: middle;
	}
	
	#content {
		width: 60%;
		margin: auto;
		padding: 2em;
	}
	
	#content p {
		padding: 1em;
	}
	
	#content .contacts {
		text-align: center;
	}
	
	#contact_list {
		width: 40%;
		margin: auto;
		padding: 0.5em;
		list-style-type: none;
	}
	
	#contact_list li {
		padding: 0.5em;
	}
	
	#contact_list li i {
		float: left;
		vertical-align: middle;
	}
	
	#contact_list .contact {
		display: inline-block;
		float: right;
		width: 60%;
		font-weight: bold;
		text-align: right;
	}
	
	#content .about {
		text-align: justify;
	}
	
	#content .about_important {
		text-align: center;
		padding: 1.1em;
	}
	
	#footer {
		clear: both;
		float: bottom;
		width: 80%;
		margin: auto;
		margin-top: 2em;
		padding: 2em;
		border-top-style: solid;
		border-top-color: lightgrey;
		border-top-width: 1px;
		text-align: center;
		font-size: 0.8em;
	}
	
	#footer #administration {
		float: right;
		font-size: 1em;
	}
	
	#footer #administration i {
		vertical-align: middle;
		padding-right: 0.2em;
	}
	
	#footer .copyright {
		font-size: 1.3em;
		vertical-align: middle;
	}
	
	#validation {
		padding-top: 2em;
	}
	
	#xhtml_valid {
		padding-right: 4em;
	}	
}