@font-face {
    font-family: sansation_regular;
    src: url('../res/fonts/Sansation_Regular.ttf');
}

@font-face {
	font-family: sansation_bold;
	src: url('../res/fonts/Sansation_Bold.ttf');
}
			
* {
	margin: 0;
	padding: 0;
	font-family: 'Maven Pro', sans-serif;
}

.material-icons.md-18 { 
	font-size: 18px; 
}

#contacts {
	float: right;
	margin-top: 1em;
	margin-right: 4em;
	margin-bottom: 1em;
}

#contacts p {
	display: inline-block;
	margin-right: 2em;
	font-size: 0.8em;
}

#contacts p i {
	vertical-align: middle;
}

#navbar {
	width: 80%;
	margin: auto;
	clear: both;
}

#logo {
	float: left;
	max-width: 35%;	/* In schermi più piccoli così viene ridotto */
	padding-top: 1em;
}

#menu {
	font-weight: bold;
	text-transform: uppercase;
	padding: 2em;
	letter-spacing: 0.2em;
}

#menu a {
	color: black;
	margin-left: 4em;
	text-decoration: none;
	padding-bottom: 0.3em;
}

#menu a:hover {
	color: orangered;
}

#current {
	border-bottom-width: 2px;
	border-bottom-color: orangered;
	border-bottom-style: solid;
}

#breadcrumb {
	clear: both;
	margin-top: 1em;
	margin-left: 10em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

#breadcrumb span {
	font-size: 0.8em;
}

#breadcrumb i {
	vertical-align: middle;
	color: black;
}

#content {
	width: 60%;
	margin: auto;
	padding: 3em;
}

#content p {
	padding: 1em;
	text-align: justify;
}

#footer {
	clear: both;
	float: bottom;
	width: 80%;
	margin: auto;
	margin-top: 2em;
	padding: 2em;
	border-top-style: solid;
    border-top-color: lightgrey;
	border-top-width: 1px;
	text-align: center;
	font-size: 0.8em;
}

footer .copyright {
	font-size: 4em;
}