@keyframes fadeInDown {
	0% { opacity: 0; transform: translateY(-2em); }
	100% { opacity: 1; transform: translateY(0); }
}
	
@keyframes fadeInLeft {
	0% { opacity: 0; transform: translateX(-10em); }
	100% { opacity: 1; transform: translateX(0); }
}
	
@keyframes fadeInRight {
	0% { opacity: 0; transform: translateX(10em); }
	100% { opacity: 1; transform: translateX(0); }
}

.fadeInLeft {
	-moz-animation-name: fadeInLeft;
	-webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft;		
	-moz-animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;		
	-moz-animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.fadeInRight {
	-moz-animation-name: fadeInRight;
	-webkit-animation-name: fadeInRight; 
    animation-name: fadeInRight;		
	-moz-animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;		
	-moz-animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.fadeInDown {
	-moz-animation-name: fadeInDown;
	-webkit-animation-name: fadeInDown; 
   	animation-name: fadeInDown;		
	-moz-animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;		
	-moz-animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.material-icons.md-18 { 
	font-size: 18px; 
}

.material-icons.md-24 { 
	font-size: 24px; 
}

@media screen and (min-width: 1024px) {			
	* {
		margin: 0;
		padding: 0;
		font-family: 'Maven Pro', sans-serif;
	}
    
	a img{ /* bordi immagini che fanno da link in IE 10*/ 
        border: 0px;
    }
	
    .skip_menu {
        position: absolute;
        height: 0;
        overflow: hidden;
    }
    
    #compatibilityAlert {
        background: black;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
    }
    
    #compatibilityAlert p {
        color: white;
        font-size: 1.2em;
        margin-bottom: 1em;
    }
    
    #compatibilityAlert p span {
        text-transform: uppercase;
    }
    
    #compatibilityAlert .button {
        display: block;
        margin: auto;
        text-transform: uppercase;
        font-size: 1em;
        text-align: center;
        background: lightgray;
		border: none;
		padding: 0.3em 0.5em 0.3em 0.5em;
		border-radius: 3px;
		cursor: pointer;
		color: black;
    }
	
	#header {
		background: #A00;
		color: white;
	}
	
	#header a {
		color: white;
	}
	
	#header a:hover {
		color: lightgrey;	/* Alternativa?? #308E89*/
	}
	
	#contacts {
		float: right;
		margin-top: 1em;
		margin-right: 4em;
		margin-bottom: 1em;
	}
	
	#contacts p {
		display: inline-block;
		margin-right: 2em;
		font-size: 0.8em;
	}
	
	#contacts p i {
		vertical-align: middle;
	}
	
	#logo {
		float: left;
		padding-top: 1em;
		max-width: 30%;
	}
	
	#navbar {
		width: 90%;
		margin: auto;
		clear: both;
	}
	
	#navbar_admin {		/*NEW -------------------------------------*/
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 10%;
		padding-right: 10%;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		background: #A00;
		letter-spacing: 0.2em;
	}
	
	#navbar_admin p {		/*NEW -------------------------------------*/
		padding-right: 12em;	/*Soluzione responsive per centrare*/
		font-weight: bold;
		font-size: 1.1em;
	}
	
	#navbar_admin a {
		padding-left: 2em;
	}
	
	#admin_back_icon {
		display: none;
		height: 0px;
		width: 0px;
	}
	
	#admin_back {		/*NEW -------------------------------------*/
		float: left;
		text-decoration: none;
		background-image: url("../res/images/corona_bianca.png");
		background-repeat: no-repeat;
		background-position: 0 -0.1em;
	}
	
	#admin_back:hover {		/*NEW -------------------------------------*/
		background-image: url("../res/images/corona_grigia.png");
		background-repeat: no-repeat;
	}
		
	#menu {		/*NEW -------------------------------------*/
		height: 2em;
		text-transform: uppercase;
		margin-left: 35%;
		padding-top: 2em;
		padding-bottom: 2em;
		letter-spacing: 0.2em;
	}
	
	#menu li {	/*NEW -------------------------------------*/
		display: inline-block;
		margin-left: 5%;
		margin-bottom: 2%;
		list-style: none;
	}
	
	#menu a {
		text-decoration: none;
	}
	
	#menu li #current {
		font-weight: bold;
		padding-bottom: 0.3em;	
		border-bottom-width: 2px;
		border-bottom-color: white;
		border-bottom-style: solid;
	}
    
    #breadcrumb_home {
        height: 2.4em;
    }
	
	#breadcrumb {	
		clear: both;
		padding-left: 6%;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		background: darkred;
	}
	
	#breadcrumb img {
		vertical-align: middle;
        width: 1em;
        height: 1em;
	}
    
    #breadcrumb a {             /* ------------------- NEW ------------------------------------------- */
        text-decoration: none;
    }
    
    #home_placeholder {
        text-align: center;
        font-size: 2em;
        color: black;
        text-shadow: gray 0.04em 0.04em 0.1em;
        padding-top: 2em;
        padding-bottom: 4em;
    }
    
    #welcome_message {     
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    #home_placeholder #welcome_title {
        font-size: 1.5em;
        font-weight: bold;
        padding-bottom: 0.5em;
    }
    
    #home_placeholder .ju_rapida {
        font-family: 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        font-style: italic;
    }
    
    #home_placeholder a {
        display: block;
        width: 7em;
        margin: auto;
        text-decoration: none;
        text-shadow: gray 1px 1px 3px;
        font-size: 0.9em;
		background: lightgray;
		border: none;
		padding: 5px 20px 5px 20px;
		box-shadow: 1px 1px 3px #3D3D3D;
		border-radius: 3px;
		cursor: pointer;
		color: black;
		margin-top: 1em;
    }
    
    #home_placeholder a:hover {
        background: #9d9d9d;
    }
	
	.pane {
        position: relative;
        height: 30em;
        width: 100%;
        text-align: center;
    }
    
    .pane_content {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
	
	.pane_content img {
        margin-top: 1em;
        margin-bottom: 1em;
		width: 18em;
	}
	
	.pane_content p {
		padding: 1.5em;
		color: white;
        font-weight: bold;
        font-size: 1.3em;
        text-transform: uppercase;
		background-color: rgba(0, 0, 0, 0.3);
	}
    
    .pane_content input {
        width: 8em;
        margin-top: 1em;
        margin-bottom: 1em;
        background: #A00;
		border: none;
        padding: 0.4em;
		border-radius: 3px;
		font-size: 1em;
        text-transform: uppercase;
		text-shadow: 1px 1px 1px #9E3F3F;
		color: #FFF;   
        cursor: pointer;
    }
	
	#backTop {
		text-align: center;
		display: block;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
		text-decoration: none;
		color: black;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	#backTop:hover {
		color: #A00;
	}
	
	#backTop i {
		vertical-align: middle;
	}
	
	#content {
		width: 70%;
		margin: auto;
		padding: 2em;
	}
	
	#content p {
		padding: 1em;
		text-align: center;
	}
	
	#content_error {
		width: 80%;
		margin: auto;
		text-align: center;
	}
	
	#content_error > img {
		margin: 2em;
		width: 15%;
	}
	
	#content_error h3 {
		padding-bottom: 2em;
	}
	
	#content_error p {
		text-transform: uppercase;
		padding: 1em;
	}
	
	#previous_page {
		display: inline-block;
		padding: 1em;	
		border-radius: 0.5em;
		color: white;
		background: #A00;
		font-weight: bold;
		text-decoration: none;
		text-shadow: 0px 1px 1px black, 0px 0px 1px black;
		text-transform: uppercase;
	}
	
	#previous_page:hover {
		background: rgba(200, 0, 0, 0.8);
		color: white;		
		transition: all 0.5s ;
		-webkit-transition: all 0.5s ;
		-o-transition: all 0.5s ;
		-moz-transition: all 0.5s ;
	}
	
	#content_products {
		width: 45em;
		margin: auto;
		padding-top: 2em;
	}
	
	#categories {
		list-style-type: none;
	}
	
	#categories li {
		display: inline-block;
		margin-left: 6%;
		margin-bottom: 3%;
	}
	
	#categories .linked_box {		/* ---------------- UPDATE ---------------------------------------*/
		display: inline-block;
		width: 11em;
		padding-top: 3.5em;
		padding-bottom: 3.5em;	
		border-radius: 0.5em;
		color: white;
		text-shadow: 0px 3px 3px black, 0px 0px 3px black, 2px 0px 3px black, -2px 0px 3px black;
	}
	
	#categories .linked_box:hover {		/* ---------------- UPDATE ---------------------------------------*/
		transition: all 0.5s ;
		-webkit-transition: all 0.5s ;
		-o-transition: all 0.5s ;
		-moz-transition: all 0.5s ;
	}
	
	/*------------ NEW ---- IMMAGINI CATEGORIE -------------------- */
	#cat_calcio {
		background-image: url("../res/images/thumbnails/calcio3_thumbnail.png");		
		background-size: 110%;
		background-repeat: no-repeat;
	}
	
	#cat_calcio:hover {
		background-image: url("../res/images/thumbnails/calcio3_thumbnail_trasparente.png");	
	}
	
	#cat_basket {
		background-image: url("../res/images/thumbnails/basket_thumbnail.png");		
		background-size: 100%;
		background-repeat: no-repeat;
	}
	
	#cat_basket:hover {
		background-image: url("../res/images/thumbnails/basket_thumbnail_trasparente.png");
	}
	
	#cat_volley {
		background-image: url("../res/images/thumbnails/volley_thumbnail.png");		
		background-size: 100%;
		background-repeat: no-repeat;
	}
	
	#cat_volley:hover {
		background-image: url("../res/images/thumbnails/volley_thumbnail_trasparente.png");	
	}
	
	#cat_tennistavolo {
		background-image: url("../res/images/thumbnails/pingpong_thumbnail.png");		
		background-size: 110%;
		background-repeat: no-repeat;
	}
	
	#cat_tennistavolo:hover {
		background-image: url("../res/images/thumbnails/pingpong_thumbnail_trasparente.png");
	}
	
	#cat_nuoto {
		background-image: url("../res/images/thumbnails/nuoto_thumbnail.png");		
		background-size: 150%;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#cat_nuoto:hover {
		background-image: url("../res/images/thumbnails/nuoto_thumbnail_trasparente.png");
	}
	
	#cat_minigolf {
		background-image: url("../res/images/thumbnails/minigolf_thumbnail.png");		
		background-size: 150%;
		background-repeat: no-repeat;
		background-position: left;
	}
	
	#cat_minigolf:hover {
		background-image: url("../res/images/thumbnails/minigolf_thumbnail_trasparente.png");	
	}
	
	#cat_calciobalilla {
		background-image: url("../res/images/thumbnails/calciobalilla_thumbnail.png");		
		background-size: 120%;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#cat_calciobalilla:hover {
		background-image: url("../res/images/thumbnails/calciobalilla_thumbnail_trasparente.png");	
	}
	
	#cat_protezioni {
		background-image: url("../res/images/thumbnails/protezioni_thumbnail.png");		
		background-size: 130%;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#cat_protezioni:hover {
		background-image: url("../res/images/thumbnails/protezioni_thumbnail_trasparente.png");	
	}
	
	#cat_accessori {
		background-image: url("../res/images/thumbnails/accessori_thumbnail.png");		
		background-size: 135%;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#cat_accessori:hover {
		background-image: url("../res/images/thumbnails/accessori_thumbnail_trasparente.png");	
	}
	
	.cat_label {
		display: inline-block;
		background-color: rgba(0, 0, 0, 0.55);
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.1em;	
	}
	
	/*--------- END NEW -------------------------------------------------- */
	
    /* ------------------- NEW PRODUCTS.CGI & PRODUCTS_DISPLAYER.CGI------------------------------------------- */
    .client_message {
        display: block;
        width: 60%;
        margin: auto;
        text-align: center;
        text-shadow: lightgray 1px 1px 0.1em;
        font-size: 1.2em;
        font-weight: bold;
        padding: 1em;
        margin-bottom: 1em;
        box-shadow: gray 1px 1px 5px;
        border-radius: 0.4em;
    }
    
    #content_products_cgi {
        width: 100%;
        margin: 0em;
    }
    
    #products_navigator {
        width: 20%;
        height: 100%;
        float: left;
        box-shadow: gray 1px 0px 5px;
        padding-bottom: 2em;
    }
    
    #category_navigator {
        width: 100%;
        margin: auto;
        margin-top: 3em;
        height: 22em;
        margin-bottom: 1em;
    }
    
    #category_navigator .navigator_title {
        font-weight: bold;
        font-size: 1.2em;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 0.5em;
    }
    
    #category_navigator .navigator_list {
        list-style-type: none;
        width: 100%;
        padding-left: 25%;
        font-size: 1.2em;
    }
    
    #category_navigator .navigator_list li {        
        text-shadow: #ddd 1px 1px 2px;        
        padding-bottom: 0.2em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
    
    #category_navigator .navigator_list i { 
        vertical-align: middle;
        padding-right: 0.2em;
    }
    
    #category_navigator .navigator_list a {
        color: black;
        text-decoration: none;
    }
    
    #category_navigator .navigator_list a:hover {
        color: #a00;
    }
    
    #category_navigator .navigator_current {
        color: #a00;
    }
    
    #products_displayer {
        width: 80%;
        float: right;
        /*border-left-width: 2px;
		border-left-color: lightgray;
		border-left-style: solid;*/
    }
    
    #products_displayer_frame {
        padding-top: 2em;
        padding-left: 3em;
        padding-bottom: 2em;        
        text-align: center;
    }
    
    #products_displayer .product_card {
        display: inline-block;
        width: 12em;
        height: 22em;
        margin: 1em;
        background: #ddd;
        border-radius: 0.4em;
        box-shadow: gray 1px 1px 3px;
    }
    
    #products_displayer .product_image {    /* image container */
        background: white;
        border-radius: 10em;
        margin: 1em;
        height: 10em;
    }
    
    #products_displayer .product_image img {
        display: block;
        width: 8em;
        min-width: 8em;
        padding: 1em;
    }
    
    #products_displayer .product_card span {
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
        padding-bottom: 0.4em;
    }
    
    #products_displayer .product_name {
        font-weight: bold;
        font-size: 1.2em;
        text-transform: uppercase;
        height: 1.2em;
    }
    
    #products_displayer .product_card .product_short_description {
        width: 11em;
        margin: auto;
        text-align: center;
        padding-bottom: 1em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        height: 3em;
    }
    
    #products_displayer .product_display_button {
        display: block;
        width: 5em;
        margin: auto;
        padding-bottom: 1em;
    }
    
    #products_displayer .product_display_button .button {
        width: 5em;
        background: #A00;
		border: none;
        padding: 0.4em;
		box-shadow: 1px 1px 5px #B6B6B6;
		border-radius: 3px;
		font-size: 1em;
		text-shadow: 1px 1px 1px #9E3F3F;
		color: #FFF;
    }
    
    #products_displayer .product_display_button .button:hover {
		background: rgba(200, 0, 0, 1);
	}
    
    #content_products_displayer_cgi {
        width: 100%;
        margin: 0em;
        padding-top: 2em;
    }
    
    #product_card_displayer .product_card {
        display: block;
        width: 65em;
        max-width: 98%;
        margin: auto;
        margin-bottom: 4em;
        background: #ddd;
        border-radius: 0.4em;
        box-shadow: gray 1px 1px 3px;
    }
    
    #product_card_displayer .product_image {    /* image container */
        display: inline-block;
        background: white;
        border-radius: 100%;
        width: 35em;
        height: 35em;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 2em;
        margin-bottom: 1em;
        box-shadow: #d00 1px 1px 3px, gray -1px -1px 3px, gray 1px -1px 3px, #d00 -1px 1px 3px;
    }
    
    
    #product_card_displayer .product_image img {
        display: block;
        width: 31em;
        min-width: 31em;
        margin: auto;
        padding-top: 2em;
    }
    
    #product_card_displayer .product_data{
        display: inline-block;
        width: 24em;
        vertical-align: top;
        margin-top: 6em;
    }
    
    #product_card_displayer .product_data span {
        display: block;
        width: 100%;
        margin: auto;
        margin-bottom: 2em;
        text-align: center;
    }
    
    #product_card_displayer .product_name {
        font-weight: bold;
        font-size: 2em;
        text-transform: uppercase;
        box-shadow: 1px 1px 0.2em;
        border-radius: 0.1em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
    
    #product_card_displayer .product_code {
        font-size: 1.4em;
    }
    
    #product_card_displayer .product_description {
        width: 95%;
        margin: auto;
        font-size: 1.2em;
        text-align: justify;
        padding-bottom: 2em;
        word-spacing: 0.1em;
    }
    
    #product_card_displayer .product_back_button {
        display: inline-block;
        vertical-align: bottom;
        width: 24em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    #product_card_displayer .product_back_button .button {
        display: block;
        width: 10em;
        margin: auto;
        background: #A00;
		border: none;
        padding: 0.4em;
		box-shadow: 1px 1px 5px #B6B6B6;
		border-radius: 3px;
		font-size: 1em;
		text-shadow: 1px 1px 1px #9E3F3F;
		color: #FFF;
    }
    
    #product_card_displayer .product_back_button .button:hover {
		background: rgba(200, 0, 0, 1);
	}
    /* ------------------- END NEW PRODUCTS.CGI & PRODUCTS_DISPLAYER.CGI------------------------------------------- */
    
	#content_contacts {
		width: 80%;
		margin: auto;
		padding: 2em;
	}
	
	#content_contacts p {
		padding: 1em;
		text-align: center;
	}
	
	/*NEW*/	
	#contact_list {
		width: 23em;
		margin: auto;
		padding: 0.5em;
		list-style-type: none;
	}
	
	#contact_list li {
		padding: 0.5em;
	}
	
	#contact_list li i {
		float: left;
		vertical-align: middle;
	}
	
	#contact_list .contact {
		display: inline-block;
		float: right;
		width: 12em;
		font-weight: bold;
		text-align: right;
	}
	
	#form_email {	/* NEW --------------------------------------*/
		padding: 2em;
		margin: auto;
		width: 26em;
	}

	.form_email_element {	/* NEW --------------------------------------*/
		padding: 1em;	
	}
	
	#form_email_name {	
		width: 15em;
		height: 1.5em;
		font-size: 1em;
		padding-left: 0.5em;
		padding-right: 0.5em;
		float: right;
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;	
		border-radius: 3px;	
	}
	
	#form_email_mail {	
		width: 15em;
		height: 1.5em;
		font-size: 1em;
		padding-left: 0.5em;
		padding-right: 0.5em;
		float: right;
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;
	}
	
	#form_email_mex {
		width: 15em;
		height: 8em;
		font-size: 1em;
		padding-left: 0.5em;
		padding-right: 0.5em;
		float: right;
		resize: none;
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;
	}
	
	#form_email_submit {	/* NEW --------------------------------------*/
		float: right;
		margin-top: 2em;
		margin-bottom: 2em;
		margin-right: 9em;
		font-size: 1em;
		background: #A00;
		border: none;
		padding: 10px 25px 10px 25px;
		box-shadow: 1px 1px 5px #B6B6B6;
		border-radius: 3px;
		text-shadow: 1px 1px 1px #9E3F3F;
		cursor: pointer;
		color: #FFF;
	}
	
	#form_email_submit:hover {	/* NEW --------------------------------------*/
		background: darkred;
	}
	
	.mail_form_error {
		color: red;
	}
	
	#mail_sent {
		width: 80%;
		margin: auto;
		text-align: center;
		margin-top: 3em;
		margin-bottom: 6em;
		font-weight: bold;
		font-size: 1.2em;
	}
	
	#content_admin {
		width: 90%;
		margin: auto;
		padding: 2em;
		min-height: 15em;
	}
	
	#content_admin > p {
		text-align: center;
		font-size: 1.1em;
	}
	
	/*NEW START ----------------------------- admin_products.cgi ------ */
    #admin_dashboard {
        background: darkred;        
        text-align: center;
        padding-top: 1.4em;
        padding-bottom: 1.4em;
        font-size: 1.1em;
        font-weight: bold; 
    }
    
    #dashboard_form {
        display: inline;
    }
    
    #dashboard_form select {
        font-size: 1em;
        border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;	
        vertical-align: middle;
    }
    
    #dashboard_form .form_item {
        display: inline;
        padding-right: 0.5em;
	}
    
    #submit_dashboard {
        font-size: 0.9em;
        background: lightgray;
		border: none;
		padding: 0.4em 0.8em 0.4em 0.8em;
		box-shadow: 1px 1px 3px #3D3D3D;
		border-radius: 3px;
		cursor: pointer;
		color: black;
        margin-left: 2em;
	}
	
	#dashboard_form_news {		/*-------------------------NEW--------------*/
		width: 21em;
		margin: auto;
		padding-top: 2em;
		
		/*margin-top: 1em;
        margin-bottom: 1em;
        background: darkred;
        box-shadow: 1px 1px 3px;
        border-radius: 0.2em;
		vertical-align: middle;
		height: 3em;
		width: 20em;
		
		color: white;*/
	}
	
	hr {		/*-------------------------NEW--------------*/
		width: 80%;
		margin: auto;
		height: 0.2em;
		/*margin-left: 7.6em;*/
		background-color: darkred;
		border: none;
		margin-bottom: 1em;
		margin-top: 3em;
	}
	
	#submit_dashboard_news {		/*-------------------------NEW--------------*/
        font-size: 0.9em;
        background: lightgray;
		border: none;
		padding: 0.4em 0.8em 0.4em 0.8em;
		box-shadow: 1px 1px 3px #3D3D3D;
		border-radius: 3px;
		cursor: pointer;
		color: black;
        margin-bottom: 2em;
		margin-left: 2em;    
	}
	
	#submit_dashboard_news:hover{		/*-------------------------NEW--------------*/
		background: #9d9d9d;
	}
	
	#dashboard_form_news select {		/*-------------------------NEW--------------*/
        font-size: 1em;
        border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;	
        vertical-align: middle;
    }
    
    #dashboard_form_news .form_item {		/*-------------------------NEW--------------*/
        display: inline;
        padding-right: 0.5em;
    }
	
	#form_add {		/*-------------------------NEW--------------*/
		float: right;
	}
	
	#action_box_news {		/*-------------------------NEW--------------*/
		width: 6em;
		margin: auto;
	}
	
	#action_box_news .linked_box {		/*-------------------------NEW--------------*/
		display: inline-block;
		width: 6em;
		padding-top: 1.2em;
		padding-bottom: 1.2em;	
		border-radius: 0.5em;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		color: white;
		background: #A00;
		text-shadow: 0px 1px 1px black, 0px 0px 1px black;
	}
	
	#action_box_news .linked_box:hover {		/*-------------------------NEW--------------*/
		background: rgba(200, 0, 0, 0.7);
		color: white;		
		transition: all 0.5s ;
		-webkit-transition: all 0.5s ;
		-o-transition: all 0.5s ;
		-moz-transition: all 0.5s ;
	}
	
	#action_back_news {		/*-------------------------NEW--------------*/
		margin: auto;
	}
    
    .admin_message {
        display: block;
        width: 60%;
        margin: auto;
        text-align: center;
        text-shadow: lightgray 1px 1px 0.1em;
        font-size: 1.2em;
        font-weight: bold;
        padding: 1em;
        margin-bottom: 1em;
        box-shadow: gray 1px 1px 5px;
        border-radius: 0.4em;
    }
    
    #error_msg {
        color: #D00;
    }
    
    #info_msg {
        color: #0A0;
    }
    
    #products_container { /* new */
        width: 60%;
        margin: auto;
        min-width: 45em;
        min-height: 5em;
    }
    
    #products_container .product_card{ /* new */
        margin-top: 1em;
        margin-bottom: 1em;
        background: #ddd;
        box-shadow: 1px 1px 3px;
        border-radius: 0.2em;
    }
    
    #products_container span { /* new */
        display: inline-block;
        width: 10em;        
        padding-top: 1em;
        padding-bottom: 1em;
        margin-right: 0.5em;
        text-align: center;
    }
    
    #products_container_news {		/*-------------------------NEW--------------*/
        width: 60%;
        margin: auto;
        min-width: 45em;
        min-height: 5em;
    }
    
    #products_container_news .product_card{		/*-------------------------NEW--------------*/
        margin-top: 1em;
        margin-bottom: 1em;
        background: #ddd;
        box-shadow: 1px 1px 3px;
        border-radius: 0.2em;
    }
    
    #products_container_news span {		/*-------------------------NEW--------------*/
        display: inline-block;
        width: 10em;        
        padding-top: 1em;
        padding-bottom: 1em;
        margin-right: 0.5em;
        text-align: center;
    }
    
    #products_container_news .product_name {		/*-------------------------NEW--------------*/
        text-align: left;
        width: 11em;
    }
    
    #products_label span{ /* new */
        font-weight: bold;
        text-transform: uppercase;
    }
    
    #products_label #product_name_label { /* new */
        padding-left: 1em;
        width: 11em;
        text-align: left;
    }
    
    #products_container .product_name { /* new */
        text-align: left;
        width: 11em;
    }
    
    .product_buttons { /* new */
        float: right;
        margin-right: 1em;
        width: 10em;
        display: inline-block;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
    }
    
    .product_buttons form { /* new */
        display: inline-block;
    }
    
    .product_buttons .button { /* new */
        background: #A00;
		border: none;
        padding: 0.4em;
		box-shadow: 1px 1px 5px #B6B6B6;
		border-radius: 3px;
		font-size: 1em;
		text-shadow: 1px 1px 1px #9E3F3F;
		color: #FFF;
    }
    
    .product_buttons .button:hover { /* new */
		background: rgba(200, 0, 0, 1);
	}

    #form_remove {
        float: right;
    }
    
	#content_admin #placeholder {
		text-align: center;
	}
	
	#content_admin #placeholder > img {
		width: 15em;
	}	
	
	#content_admin #placeholder > p {
		font-size: 2em;
		font-weight: bold;
	}
	
	.modalDialog {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: scroll;
		background: rgba(0,0,0,0.8);
		z-index: -1;
		opacity:0;
		-webkit-transition: opacity 200ms ease-in;
		-moz-transition: opacity 200ms ease-in;
		transition: opacity 200ms ease-in;
	}
	
	.modalDialog:target {
		opacity: 1;
        z-index: 100;
	}
	
	.modalDialog > div {
		width: 25em;
		position: relative;
		margin: auto;
		margin-top: 1em;
		margin-bottom: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
		padding-left: 1.5em;
        padding-right: 1.5em;
		border-radius: 0.5em;
		background: #fff;
	}
	
	.close {
		background: #A00;
		color: #FFFFFF;
		line-height: 1.5em;
		position: absolute;
		right: -0.7em;
		text-align: center;
		top: -0.7em;
		width: 1.5em;
		text-decoration: none;
		font-weight: bold;
		-webkit-border-radius: 1em;
		-moz-border-radius: 1em;
		border-radius: 1em;
		-moz-box-shadow: 0.5em 0.5em 1em #000;
		-webkit-box-shadow: 0.5em 0.5em 1em #000;
		box-shadow: 0.5em 0.5em 1em #000;
	}
	
	.close:hover { 
		background: #D00;
	}
	
	.modalDialog p {
        text-align: center;
		font-size: 1.6em;
		font-weight: bold;
	}
    
    .modalDialog form {
        width: 90%;
        margin: auto;
    }
	
	.product_category_modal { /*-----new----*/
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;
        padding: 0.2em;	
	}
	
	.product_code_modal {
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;
        padding: 0.2em;	
	}
	
	.product_name_modal {
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;	
        padding: 0.2em;
	}
    
	.modalDialog textarea {
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;	
        padding: 0.2em;
	}
	
	.modalDialog .form_item {
		width: 97%;
		margin-top: 0.4em;
		font-size: 1em;
		resize: none;
	}
    
    .modalDialog label {
		padding-top: 0.5em;
	}
	
	.modalDialog img { /*---------------------NEW-----------------------*/
        width: 90%;
		height: 30%;
    }
	
	.submit_modal {
		background: #A00;
		border: none;
		padding: 0.8em 1.2em 0.8em 1.2em;
		box-shadow: 1px 1px 5px #B6B6B6;
		border-radius: 3px;
		font-size: 1em;
		text-shadow: 1px 1px 1px #9E3F3F;
		color: #FFF;
		margin-top: 1em;
        margin-left: 30%;
	}
	
	.submit_modal:hover {
		background: rgba(200, 0, 0, 1);
	}	
	/*NEW END ----------------------------- admin_products.cgi ------ */

	#admin_panel {	/* NEW --------------------------------------*/
		width: 30em;
		margin: auto;
		margin-top: 4em;
		margin-bottom: 20em;
	}
	
	#news {
		float: left;
	}
	
	#products {
		float: right;
	}
	
	#admin_panel .linked_box {
		display: inline-block;
		width: 11em;
		padding-top: 3.5em;
		padding-bottom: 3.5em;	
		border-radius: 0.5em;
		color: white;
		background: #A00;
		text-shadow: 0px 1px 1px black, 0px 0px 1px black;
	}
	
	#admin_panel .linked_box:hover {
		background: rgba(200, 0, 0, 0.7);
		color: white;		
		transition: all 0.5s ;
		-webkit-transition: all 0.5s ;
		-o-transition: all 0.5s ;
		-moz-transition: all 0.5s ;
	}
	
	.admin_label {
		display: inline-block;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.1em;	
	}
	
	#action_bar {
		height: 5em;
        padding-top: 1em;
	}	
	
	#action_box {
		width: 25em;
		margin: auto;
	}
	
	#action_back {
		float: left;
	}
	
	#action_add {
		float: right;
	}
	
	#action_box .linked_box {
		display: inline-block;
		width: 6em;
		padding-top: 1.2em;
		padding-bottom: 1.2em;	
		border-radius: 0.5em;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		color: white;
		background: #A00;
		text-shadow: 0px 1px 1px black, 0px 0px 1px black;
	}
	
	#action_box .linked_box:hover {
		background: rgba(200, 0, 0, 0.7);
		color: white;		
		transition: all 0.5s ;
		-webkit-transition: all 0.5s ;
		-o-transition: all 0.5s ;
		-moz-transition: all 0.5s ;
	}
	
	#content_about{
		width: 50%;
		margin: auto;
		padding: 2em;
	}
	
	#content_about p {
		padding: 1em;
		text-align: justify;
	}
	
	#content_about #about_important {
		text-align: center;
		padding: 1.5em;
	}
	
	#footer {
		clear: both;
		position: relative;
		bottom: 0;
		text-align: center;
		font-size: 0.8em;
		background-color: #A00;
		color: white;
	}
	
	#footer_top {
		width: 70%;
		margin: auto;
		padding: 2em;		
		min-height: 15em;
	}
	
	#maps {
		padding-left: 2em;
		padding-right: 2em;
	}
	
	#maps ul {
		list-style: none;
	}
	
	#maps a {
		text-decoration: none;
		color: white;
	}
	
	#maps_menu {
		float: left;
		text-align: left;
		letter-spacing: 0.4em;
	}
	
	#maps_menu li {
		margin: 0.4em;
        text-transform: uppercase;
	}
	
	#maps_menu li a:hover {
		color: lightgrey;
	}
	
	#maps_categories {
		float: left;
		margin-left: 4em;
		text-align: left;
		letter-spacing: 0.4em;
        text-transform: uppercase;
	}
	
	#maps_categories li {
		margin: 0.4em;
	}
	
	#maps_categories li a:hover {
		color: lightgrey;
	}
	
	#admin_form_panel {
		float: right;
	}
	
	#admin_form > fieldset {
		padding: 1em;
	}
	
	#admin_form legend {
		color: #FFF; /*per colore in IE*/
		padding-left: 1em;
		padding-right: 1em;
	}
	
	#admin_form i {
		vertical-align: middle;
		padding-right: 0.2em;
	}
	
	.form_item {
		display: block;
		text-align: left;
	}
	
	#username {
		height: 1.5em;
		font-size: 1em;
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;
		margin-top: 0.2em;
		margin-bottom: 1.5em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	
	#password {
		height: 1.5em;
		font-size: 1em;
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;
		margin-top: 0.2em;
		margin-bottom: 0.5em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	
	#submit {/*--------------------------------NEW------------------------------------*/
		background: lightgray;
		border: none;
		padding: 5px 20px 5px 20px;
		box-shadow: 1px 1px 3px #3D3D3D;
		border-radius: 3px;
		cursor: pointer;
		color: black;
		margin-top: 1em;
	}
	
	#submit:hover{	/* NEW --------------------------------------*/
		background: #9d9d9d;
	}
	
	#admin_form #submit {
		margin-top: 1em;
	}
	
	#copy_panel {
		clear: both;
		background-color: darkred;
		padding: 2em;
	}
	
	#validation {
		padding-top: 2em;
	}
	
	#xhtml_valid {
		padding-right: 4em;
	}	
}

@media screen and (min-width: 1180px) {
    #products_navigator .navigator_placeholder_block4 {
        display: inline-block;
        width: 80%;
        height: 22em;
        margin: 1em;          
    }
}
    
@media screen and (max-width: 1179px) {
    #products_navigator .navigator_placeholder_block3 {
        display: inline-block;
        width: 80%;
        height: 22em;
        margin: 1em;            
    }
}