@media screen and (max-width: 1024px) and (min-width: 769px){			
	* {
		margin: 0;
		padding: 0;
		font-family: 'Maven Pro', sans-serif;
	}
	
	.material-icons.md-18 { 
		font-size: 15px; 
	}
	
	.material-icons.md-24 { 
		font-size: 24px; 
	}
	
	a {
		color: black;
		text-decoration: none;
	}
	
	#header {
		background: #A00;
		color: white;
		text-align: center;
	}
	
	#header a {
		color: white;
	}
	
	#header a:hover {
		color: lightgrey; /* Alternativa?? #308E89*/
	}
	
	#contacts {
		float: right;
		margin-top: 1em;
		margin-right: 4em;
		margin-bottom: 1em;
	}
	
	#contacts p {
		display: inline-block;
		margin-right: 2em;
		font-size: 0.8em;
	}
	
	#contacts p i {
		vertical-align: middle;
	}
	
	#logo {
		float: left;
		padding-top: 1em;
		width: 30%;
	}
	
	#navbar {
		width: 90%;
		margin: auto;
		clear: both;
	}
	
	#navbar_admin {		/*NEW -------------------------------------*/
		padding-top: 1em;
		padding-bottom: 1em;
		text-transform: uppercase;
		text-decoration: none;
		background: #A00;
		letter-spacing: 0.2em;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
	}
	
	#navbar_admin p {		/*NEW -------------------------------------*/
		font-weight: bold;
	}
	
	#navbar_admin a {
		padding-left: 2em;
	}
	
	#admin_back {		/*NEW -------------------------------------*/
		float: left;
		background-image: url("../res/images/corona_bianca.png");
		display: none;
		background-repeat: no-repeat;
		background-position: 0 -0.1em;
	}
	
	#admin_back_icon {
		float:left;
		vertical-align: middle;
	}
	
	#admin_back:hover {		/*NEW -------------------------------------*/
		background-image: url("../res/images/corona_grigia.png");
		background-repeat: no-repeat;
	}
		
	#menu {		/*NEW -------------------------------------*/
		height: 2em;
		text-transform: uppercase;
		margin-left: 5em;
		padding-top: 2em;
		padding-bottom: 2em;
		letter-spacing: 0.2em;
		font-size: 0.85em;
	}
	
	#menu li {	/*NEW -------------------------------------*/
		display: inline-block;
		margin-left: 5%;
		margin-bottom: 2%;
		list-style: none;
	}
	
	#current {
		font-weight: bold;
		text-decoration: none;
		padding-bottom: 0.3em;	
		border-bottom-width: 2px;
		border-bottom-color: white;
		border-bottom-style: solid;
	}
	
	#breadcrumb_home {
		visibility: hidden;
		clear: both;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
	}
	
	#breadcrumb {	
		clear: both;
		padding-right: 65%;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		background: darkred;
	}
	
	#breadcrumb i {
		vertical-align: middle;
		
	}
	
	/*NEW*/
	#pane_1 {
		position: relative;
		height: 25em;
		width: auto;
		background-image: url("../res/images/running_wall.jpg");
		
		background-position: 22% 7%; /*PERCENTUALE, ALTRIMENTI L' IMMAGINE VIENE TAGLIATA*/
	}
	
	#pane_2 {
		position: relative;
		height: 25em;
		width: auto;
		background-image: url("../res/images/nuoto_wall.jpg");
		
		background-position: 22% 7%; /*PERCENTUALE, ALTRIMENTI L' IMMAGINE VIENE TAGLIATA*/
	}
	
	#pane_3 {
		position: relative;
		height: 25em;
		width: auto;
		background-image: url("../res/images/volley_wall.jpg");
		
		background-position: 22% 7%; /*PERCENTUALE, ALTRIMENTI L' IMMAGINE VIENE TAGLIATA*/
	}
	
	.pane_content {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
	}
	
	.pane_content img {
		/*width: 34%; ???? USO PERCENTUALE, ALMENO VIENE DECENTEMENTE ANCHE RIDUCENDO LA DIMENSIONE DELLA PAGINA ???*/
		width: 18em;
	}
	
	.pane_content h3 {
		padding: 1em;
		color: white;
		background-color: rgba(0, 0, 0, 0.3);
	}
	
	#backTop {
		text-align: center;
		display: block;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
		text-decoration: none;
		color: black;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	#backTop:hover {
		color: #A00;
	}
	
	#backTop i {
		vertical-align: middle;
	}
	
	/*END NEW*/
	
	#content {
		width: 70%;
		margin: auto;
		padding: 2em;
	}
	
	#content p {
		padding: 1em;
		text-align: center;
	}
	
	#content_error {
		width: 80%;
		margin: auto;
		text-align: center;
	}
	
	#content_error > img {
		margin: 2em;
		width: 20%;
	}
	
	#content_error h3 {
		padding-bottom: 2em;
	}
	
	#content_error p {
		text-transform: uppercase;
		padding: 1em;
	}
	
	#previous_page {
		display: inline-block;
		padding: 1em;	
		border-radius: 0.5em;
		color: white;
		background: #A00;
		font-weight: bold;
		text-decoration: none;
		text-shadow: 0px 1px 1px black, 0px 0px 1px black;
		text-transform: uppercase;
	}
	
	#previous_page:hover {
		background: rgba(200, 0, 0, 0.8);
		color: white;		
		transition: all 0.5s ;
		-webkit-transition: all 0.5s ;
		-o-transition: all 0.5s ;
		-moz-transition: all 0.5s ;
	}
	
	#content_products {
		width: 40em;
		margin: auto;
		padding-top: 2em;
	}
	
	#categories {
		list-style-type: none;
	}
	
	#categories li {
		display: inline-block;
		margin-left: 4%;
		margin-bottom: 3%;
	}
	
	#categories .linked_box {
		display: inline-block;
		width: 11em;
		padding-top: 3.5em;
		padding-bottom: 3.5em;
		border-radius: 0.5em;
		color: white;
		text-shadow: 0px 3px 3px black, 0px 0px 3px black, 2px 0px 3px black, -2px 0px 3px black;
	}
	
	#categories .linked_box:hover {
		transition: all 0.5s ;
		-webkit-transition: all 0.5s ;
		-o-transition: all 0.5s ;
		-moz-transition: all 0.5s ;
	}
	
	#cat_calcio {
		background-image: url("../res/images/thumbnails/calcio3_thumbnail.png");		
		background-size: 110%;
		background-repeat: no-repeat;
	}
	
	#cat_calcio:hover {
		background-image: url("../res/images/thumbnails/calcio3_thumbnail_trasparente.png");	
	}
	
	#cat_basket {
		background-image: url("../res/images/thumbnails/basket_thumbnail.png");		
		background-size: 100%;
		background-repeat: no-repeat;
	}
	
	#cat_basket:hover {
		background-image: url("../res/images/thumbnails/basket_thumbnail_trasparente.png");
	}
	
	#cat_volley {
		background-image: url("../res/images/thumbnails/volley_thumbnail.png");		
		background-size: 100%;
		background-repeat: no-repeat;
	}
	
	#cat_volley:hover {
		background-image: url("../res/images/thumbnails/volley_thumbnail_trasparente.png");	
	}
	
	#cat_tennistavolo {
		background-image: url("../res/images/thumbnails/pingpong_thumbnail.png");		
		background-size: 110%;
		background-repeat: no-repeat;
	}
	
	#cat_tennistavolo:hover {
		background-image: url("../res/images/thumbnails/pingpong_thumbnail_trasparente.png");
	}
	
	#cat_nuoto {
		background-image: url("../res/images/thumbnails/nuoto_thumbnail.png");		
		background-size: 150%;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#cat_nuoto:hover {
		background-image: url("../res/images/thumbnails/nuoto_thumbnail_trasparente.png");
	}
	
	#cat_minigolf {
		background-image: url("../res/images/thumbnails/minigolf_thumbnail.png");		
		background-size: 150%;
		background-repeat: no-repeat;
		background-position: left;
	}
	
	#cat_minigolf:hover {
		background-image: url("../res/images/thumbnails/minigolf_thumbnail_trasparente.png");	
	}
	
	#cat_calciobalilla {
		background-image: url("../res/images/thumbnails/calciobalilla_thumbnail.png");		
		background-size: 120%;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#cat_calciobalilla:hover {
		background-image: url("../res/images/thumbnails/calciobalilla_thumbnail_trasparente.png");	
	}
	
	#cat_protezioni {
		background-image: url("../res/images/thumbnails/protezioni_thumbnail.png");		
		background-size: 130%;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#cat_protezioni:hover {
		background-image: url("../res/images/thumbnails/protezioni_thumbnail_trasparente.png");	
	}
	
	#cat_accessori {
		background-image: url("../res/images/thumbnails/accessori_thumbnail.png");		
		background-size: 135%;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#cat_accessori:hover {
		background-image: url("../res/images/thumbnails/accessori_thumbnail_trasparente.png");	
	}
	
	.cat_label {
		display: inline-block;
		background-color: rgba(0, 0, 0, 0.55);
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.1em;		
	}
	
	#content_contacts {
		width: 80%;
		margin: auto;
		padding: 2em;
	}
	
	#content_contacts p {
		padding: 1em;
		text-align: center;
	}
	
	#contact_list {
		width: 23em;
		margin: auto;
		padding: 0.5em;
		list-style-type: none;
	}
	
	#contact_list li {
		padding: 0.5em;
	}
	
	#contact_list li i {
		float: left;
		vertical-align: middle;
	}
	
	#contact_list .contact {
		display: inline-block;
		float: right;
		width: 12em;
		font-weight: bold;
		text-align: right;
	}
	
	#form_email {	/* NEW --------------------------------------*/
		padding: 2em;
		margin: auto;
		width: 26em;
	}

	.form_email_element {	/* NEW --------------------------------------*/
		padding: 1em;	
	}
	
	#form_email_name {	
		width: 15em;
		height: 1.5em;
		font-size: 1em;
		padding-left: 0.5em;
		padding-right: 0.5em;
		float: right;
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;	
		border-radius: 3px;	
	}
	
	#form_email_mail {	
		width: 15em;
		height: 1.5em;
		font-size: 1em;
		padding-left: 0.5em;
		padding-right: 0.5em;
		float: right;
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;
	}
	
	#form_email_mex {
		width: 15em;
		height: 8em;
		font-size: 1em;
		padding-left: 0.5em;
		padding-right: 0.5em;
		float: right;
		resize: none;
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;
	}
	
	#form_email_submit {	/* NEW --------------------------------------*/
		float: right;
		margin-top: 2em;
		margin-bottom: 2em;
		margin-right: 9em;
		font-size: 1em;
		
		background: #A00;
		border: none;
		padding: 10px 25px 10px 25px;
		box-shadow: 1px 1px 5px #B6B6B6;
		border-radius: 3px;
		text-shadow: 1px 1px 1px #9E3F3F;
		cursor: pointer;
		color: #FFF;
	}
	
	#form_email_submit:hover{	/* NEW --------------------------------------*/
		background: darkred;
	}
	
	#content_admin {
		width: 90%;
		margin: auto;
		padding: 2em;
		min-height: 12em;
	}
	
	#content_admin p {
		text-align: center;
		font-size: 1.1em;
	}

	#admin_panel {	/* NEW --------------------------------------*/
		width: 30em;
		margin: auto;
		margin-top: 4em;
		margin-bottom: 20em;
	}
	
	#news {
		float: left;
	}
	
	#products {
		float: right;
	}
	
	#admin_panel .linked_box {
		display: inline-block;
		width: 11em;
		padding-top: 3.5em;
		padding-bottom: 3.5em;	
		border-radius: 0.5em;
		color: white;
		background: #A00;
		text-shadow: 0px 1px 1px black, 0px 0px 1px black;
	}
	
	#admin_panel .linked_box:hover {		
		background: rgba(200, 0, 0, 0.7);
		color: white;		
		transition: all 0.5s ;
		-webkit-transition: all 0.5s ;
		-o-transition: all 0.5s ;
		-moz-transition: all 0.5s ;
	}
	
	.admin_label {
		display: inline-block;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.1em;	
	}
	
	#action_bar {
		height: 6em;
	}	
	
	#action_box {
		width: 25em;
		margin: auto;
	}
	
	#action_back {
		float: left;
	}
	
	#action_add {
		float: right;
	}
	
	#action_box .linked_box {
		display: inline-block;
		width: 6em;
		padding-top: 1.5em;
		padding-bottom: 1.5em;	
		border-radius: 0.5em;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		color: white;
		background: #A00;
		text-shadow: 0px 1px 1px black, 0px 0px 1px black;
	}
	
	#action_box .linked_box:hover {
		background: rgba(200, 0, 0, 0.7);
		color: white;		
		transition: all 0.5s ;
		-webkit-transition: all 0.5s ;
		-o-transition: all 0.5s ;
		-moz-transition: all 0.5s ;
	}
	
	#content_about{
		width: 85%;
		margin: auto;
		padding: 2em;
	}
	
	#content_about p {
		padding: 1em;
		text-align: justify;
	}
	
	#content_about #about_important {
		text-align: center;
		padding: 1.5em;
	}
	
	#footer {
		clear: both;
		position: relative;
		bottom: 0;
		text-align: center;
		font-size: 0.8em;
		background-color: #A00;
		color: white;
	}
	
	#footer_top {
		width: 70%;
		margin: auto;
		padding: 2em;
		min-height: 15em;
	}
	
	#maps {
		padding-left: 1em;
		padding-right: 1em;
	}
	
	#maps ul {
		list-style: none;
	}
	
	#maps a {
		text-decoration: none;
		color: white;
		text-transform: uppercase;
	}
	
	#maps_menu {
		float: left;
		text-align: left;
		letter-spacing: 0.4em;
		padding-right: 2em;
	}
	
	#maps_menu li {
		margin: 0.4em;
	}
	
	#maps_menu li a:hover {
		color: lightgrey;
	}
	
	#maps_categories {
		float: left;
		text-align: left;
		letter-spacing: 0.4em;
	}
	
	#maps_categories li {
		margin: 0.4em;
	}
	
	#maps_categories li a:hover {
		color: lightgrey;
	}
	
	#admin_form_panel {
		float: right;
	}
	
	#admin_form > fieldset {
		padding: 1em;
	}
	
	#admin_form legend {
		padding-left: 1em;
		padding-right: 1em;
	}
	
	#admin_form i {
		vertical-align: middle;
		padding-right: 0.2em;
	}
	
	.form_item {
		display: block;
		text-align: left;
		margin-bottom: 1em;
	}
	
	#administration {
		font-size: 1em;
		padding-bottom: 1em;
	}
	
	#administration a {
		color: black;
		text-decoration: none;
	}
	
	#administration a:hover {
		color: #A00;
	}
	
	#administration i {
		vertical-align: middle;
		padding-right: 0.2em;
	}
	
	#username {
		height: 1.5em;
		font-size: 1em;
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;
		margin-top: 0.2em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	
	#password {
		height: 1.5em;
		font-size: 1em;
		border: none;
		box-shadow: 1px 1px 5px #3D3D3D;
		border-radius: 3px;
		margin-top: 0.2em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	
	#submit {/*--------------------------------NEW------------------------------------*/
		background: lightgray;
		border: none;
		padding: 5px 20px 5px 20px;
		box-shadow: 1px 1px 3px #3D3D3D;
		border-radius: 3px;
		cursor: pointer;
		color: black;
	}
	
	#submit:hover{	/* NEW --------------------------------------*/
		background: #9d9d9d;
	}
	
	#copy_panel {
		clear: both;
		background-color: darkred;
		padding: 2em;
	}
	
	#footer .copyright {
		font-size: 1.3em;
		vertical-align: middle;
	}
	
	#validation {
		padding-top: 2em;
	}
	
	#xhtml_valid {
		padding-right: 4em;
	}	
}
