@font-face {
    font-family: sansation_regular;
    src: url('../res/fonts/Sansation_Regular.ttf');
}

@font-face {
	font-family: sansation_bold;
	src: url('../res/fonts/Sansation_Bold.ttf');
}
			
* {
	margin: 0;
	padding: 0;
	font-family: 'Maven Pro', sans-serif;
}

.material-icons.md-18 { 
	font-size: 18px; 
}

#header #contatti {
	float: right;
	margin-top: 1em;
	margin-right: 4em;
	margin-bottom: 1em;
}

#header #contatti p {
	display: inline-block;
	margin-right: 2em;
	font-size: 0.8em;
}

#header #contatti p i {
	vertical-align: middle;
}

#navbar {
	width: 80%;
	margin: auto;
	clear: both;
}

#navbar h1 {
	font-size: 4em;
	float: left;
}

#header h1 a {
	text-decoration: none;
	color: darkred;
	font-family: sansation_bold;
}

#header #menu {
	font-weight: bold;
	text-transform: uppercase;
}

#header #menu a {
	color: black;
	margin-left: 4em;
	text-decoration: none;
}

#header #menu a:hover {
	color: orangered;
}

#breadcrumb {
	/*visibility: hidden;
	height: 0em;
	width: 0em;*/
	clear: both;
	text-align: center;
}

#breadcrumb #path i {
	vertical-align: middle;
}

#breadcrumb p a {
	text-decoration: none;
	color: black;
}

#footer {
	clear: both;
	float: bottom;
	width: 80%;
	margin: auto;
	margin-top: 2em;
	padding: 2em;
	border-top-style: solid;
    border-top-color: lightgrey;
	border-top-width: 1px;
	text-align: center;
	font-size: 0.8em;
}