@font-face {
    font-family: sansation_regular;
    src: url('../res/fonts/Sansation_Regular.ttf');
}

@font-face {
	font-family: sansation_bold;
	src: url('../res/fonts/Sansation_Bold.ttf');
}

@-moz-keyframes fadeInDown {	/*NEW -------------------------------------*/
	0% { opacity: 0; -moz-transform: translateY(-2em); }
	100% { opacity: 1; transform: translateY(0); } 
}
	
@-webkit-keyframes fadeInDown {	/*NEW -------------------------------------*/
	0% { opacity: 0; -webkit-transform: translateY(-2em); }
	100% { opacity: 1; transform: translateY(0); }
}
	
@keyframes fadeInDown {	/*NEW -------------------------------------*/
	0% { opacity: 0; transform: translateY(-2em); }
	100% { opacity: 1; transform: translateY(0); }
}

.fadeInDown {
		-moz-animation-name: fadeInDown;
		-webkit-animation-name: fadeInDown; 
    	animation-name: fadeInDown;		
		-moz-animation-duration: 1.5s;
		-webkit-animation-duration: 1.5s;
		animation-duration: 1.5s;		
		-moz-animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
}

@-moz-keyframes fadeInLeft {	/*NEW -------------------------------------*/
	0% { opacity: 0; -moz-transform: translateX(-10em); }
	100% { opacity: 1; transform: translateX(0); } 
}
	
@-webkit-keyframes fadeInLeft {	/*NEW -------------------------------------*/
	0% { opacity: 0.5; -webkit-transform: translateX(-10em); }
	100% { opacity: 1; transform: translateX(0); }
}
	
@keyframes fadeInLeft {	/*NEW -------------------------------------*/
	0% { opacity: 0; transform: translateX(-10em); }
	100% { opacity: 1; transform: translateX(0); }
}

.fadeInLeft {
		-moz-animation-name: fadeInLeft;
		-webkit-animation-name: fadeInLeft; 
    	animation-name: fadeInLeft;		
		-moz-animation-duration: 1.5s;
		-webkit-animation-duration: 1.5s;
		animation-duration: 1.5s;		
		-moz-animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
}

@-moz-keyframes fadeInRight {	/*NEW -------------------------------------*/
	0% { opacity: 0; -moz-transform: translateX(10em); }
	100% { opacity: 1; transform: translateX(0); } 
}
	
@-webkit-keyframes fadeInRight {	/*NEW -------------------------------------*/
	0% { opacity: 0; -webkit-transform: translateX(10em); }
	100% { opacity: 1; transform: translateX(0); }
}
	
@keyframes fadeInRight {	/*NEW -------------------------------------*/
	0% { opacity: 0; transform: translateX(10em); }
	100% { opacity: 1; transform: translateX(0); }
}

.fadeInRight {
		-moz-animation-name: fadeInRight;
		-webkit-animation-name: fadeInRight; 
    	animation-name: fadeInRight;		
		-moz-animation-duration: 1.5s;
		-webkit-animation-duration: 1.5s;
		animation-duration: 1.5s;		
		-moz-animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
}
/* ------------------ NON USATA MA LA LASCIO A DISPIOSIZIONE -----------------------
@-moz-keyframes fadeInGrowing {	
	0% { opacity: 0.5; -moz-transform: scale(0); }
	100% { opacity: 1; transform: scale(1); } 
}	
@-webkit-keyframes fadeInGrowing {
	0% { opacity: 0.5; -webkit-transform: scale(0); }
	100% { opacity: 1; transform: scale(1); }
}	
@keyframes fadeInGrowing {
	0% { opacity: 0.5; transform: scale(0); }
	100% { opacity: 1; transform: scale(1); }
}
.fadeInGrowing {
		-moz-animation-name: fadeInGrowing;
		-webkit-animation-name: fadeInGrowing; 
    	animation-name: fadeInGrowing;		
		-moz-animation-duration: 0.7s;
		-webkit-animation-duration: 0.7s;
		animation-duration: 0.7s;		
		-moz-animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
}
---------------------------------------------------------------- */
@media screen and (min-width: 1024px) {			
	* {
		margin: 0;
		padding: 0;
		font-family: 'Maven Pro', sans-serif;
	}
	
	.material-icons.md-18 { 
		font-size: 18px; 
	}
	
	.material-icons.md-24 { 
		font-size: 24px; 
	}
	
	a {
		color: black;
		text-decoration: none;
	}
	
	#header {
		background: #A00;
		color: white;
	}
	
	#header a {
		color: white;
	}
	
	#header a:hover {
		color: lightgrey;
	}
	
	#contacts {
		float: right;
		margin-top: 1em;
		margin-right: 4em;
		margin-bottom: 1em;
	}
	
	#contacts p {
		display: inline-block;
		margin-right: 2em;
		font-size: 0.8em;
	}
	
	#contacts p i {
		vertical-align: middle;
	}
	
	#logo {
		float: left;
		padding-top: 1em;
	}
	
	#navbar {
		width: 80%;
		margin: auto;
		clear: both;
	}
	
	#navbar_admin {		/*NEW -------------------------------------*/
		padding-top: 0.7em;
		padding-bottom: 0.7em;
		padding-left: 10%;
		padding-right: 10%;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		background: #A00;
		letter-spacing: 0.2em;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
	}
	
	#navbar_admin span {		/*NEW -------------------------------------*/
		padding-right: 12em;	/*Soluzione responsive per centrare*/
		font-weight: bold;
	}
	
	#navbar_admin a {
		padding-left: 2em;
	}
	
	#admin_back {		/*NEW -------------------------------------*/
		float: left;
		background-image: url("../res/images/corona_bianca.png");
		background-repeat: no-repeat;
		background-position: 0 -0.1em;
	}
	
	#admin_back:hover {		/*NEW -------------------------------------*/
		background-image: url("../res/images/corona_grigia.png");
		background-repeat: no-repeat;
	}
		
	#menu {
		text-transform: uppercase;
		padding: 2em;
		letter-spacing: 0.2em;
	}
	
	#menu li {
		list-style: none;
		display: inline;
	}
	
	#menu a {
		margin-left: 4em;
		padding-bottom: 0.3em;
	}
	
	#current {
		margin-left: 4em;
		font-weight: bold;
		text-decoration: none;
		padding-bottom: 0.3em;	
		border-bottom-width: 2px;
		border-bottom-color: white;
		border-bottom-style: solid;
	}
	
	#breadcrumb_home {
		visibility: hidden;
		clear: both;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
	}
	
	#breadcrumb {	
		clear: both;
		padding-left: 12%;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		background: darkred;
	}
	
	#breadcrumb i {
		vertical-align: middle;
	}
	
	#content {
		width: 70%;
		margin: auto;
		padding: 2em;
	}
	
	#content p {
		padding: 1em;
		text-align: center;
	}
	
	#contact_list {
		width: 35%;
		margin: auto;
		padding: 0.5em;
		list-style-type: none;
	}
	
	#contact_list li {
		padding: 0.5em;
	}
	
	#contact_list li i {
		float: left;
		vertical-align: middle;
	}
	
	#contact_list .contact {
		display: inline-block;
		float: right;
		width: 60%;
		font-weight: bold;
		text-align: right;
	}
	
	/* NEW --------------------------------------*/
	
	#form_email {
		padding: 2em;
		margin: auto;
		width: 37%;
	}

	.form_email_element {
		padding: 1em;
	}
	
	#form_email_name {
		padding-left: 0.5em;
		width: 17em;
		height: 2em;
		
		border: none;
		box-shadow: 1px 1px 5px #B6B6B6;	
		border-radius: 3px;	
	}
	
	#form_email_mail {
		margin-left: 7em;
		width: 17em;
		height: 2em;
		
		border: none;
		box-shadow: 1px 1px 5px #B6B6B6;
		border-radius: 3px;
	}
	
	#form_email_label_mex {
		
	}
	
	#form_email_mex {
		margin-left: 5em;
		width: 17em;
		height: 7em;
		
		resize: none;
		
		border: none;
		box-shadow: 1px 1px 5px #B6B6B6;
		border-radius: 3px;
	}
	
	#form_email_submit {
		float: right;
		margin-top: 1em;
		margin-right: 10.5em;
		font-size: 1em;
		
		background: #A00;
		border: none;
		padding: 10px 25px 10px 25px;
		box-shadow: 1px 1px 5px #B6B6B6;
		border-radius: 3px;
		text-shadow: 1px 1px 1px #9E3F3F;
		cursor: pointer;
		 color: #FFF;
	}
	
	#form_email_submit:hover{
		background: darkred;
	}

	#admin_panel {	/* NEW --------------------------------------*/
		width: 30em;
		margin: auto;
		margin-top: 2em;
		margin-bottom: 10em;
	}
	
	#news {
		float: left;
	}
	
	#products {
		float: right;
	}
	#admin_panel .linked_box {
		width: 11em;
		padding-top: 3.5em;
		padding-bottom: 3.5em;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.1em;
		background: lightgray;
		text-shadow:  darkslategrey;
		border-radius: 0.5em;
	}
	#admin_panel .linked_box:hover {
		/*background-color: rgba(180, 0, 0, 0.5);*/
		background: darkred;
		color: white;
		
		transition: all 0.5s ;
		-webkit-transition: all 0.5s ;
		-o-transition: all 0.5s ;
		-moz-transition: all 0.5s ;
	}
	
	#content p{
		text-align: justify;
	}
	
	#content #about_important {
		text-align: center;
		padding: 1.1em;
	}
	
	#footer {
		clear: both;
		float: bottom;
		width: 80%;
		margin: auto;
		margin-top: 2em;
		padding: 2em;
		border-top-style: solid;
		border-top-color: lightgrey;
		border-top-width: 1px;
		text-align: center;
		font-size: 0.8em;
	}
	
	#administration {
		float: right;
		font-size: 1em;
	}
	
	#administration a {
		color: black;
		text-decoration: none;
	}
	
	#administration a:hover {
		color: #A00;
	}
	
	#administration i {
		vertical-align: middle;
		padding-right: 0.2em;
	}
	
	#footer .copyright {
		font-size: 1.3em;
		vertical-align: middle;
	}
	
	#validation {
		padding-top: 2em;
	}
	
	#xhtml_valid {
		padding-right: 4em;
	}	
}
